{% extends 'base.html' %}
{% block css %}
<link href="https://cdn.bootcss.com/fullcalendar/3.10.0/fullcalendar.min.css" rel="stylesheet">
{#<link href="https://cdn.bootcss.com/fullcalendar/3.10.0/fullcalendar.print.min.css" rel="stylesheet">#}
{% endblock %}
{% block content %}
<div id="calendar"></div>
{% endblock %}
{% block script %}
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.bootcss.com/fullcalendar/3.10.0/fullcalendar.min.js"></script>
<script type="text/javascript">
$('#calendar').fullCalendar({
    header: {
        left: 'prev,next',
        center: 'title',
        right: 'month,basicWeek'
    },
    titleFormat: 'MMM YY',
    defaultView: 'month',
    contentHeight: Math.max(480, document.documentElement.clientHeight - 160),
    {#eventLimit: true,#}
    nowIndicator: true,
    eventRender: function(eventObj, $el) {
        if (eventObj.detail){
            $el.popover({
                title: eventObj.title,
                content: eventObj.detail,
                trigger: 'hover',
                placement: 'top',
            });
        }
    },
    dayClick: function(date, jsEvent, view) {
        today = new Date();
        today -= 3600000 * 24;
        if (date >= today){
            window.location = "{% url 'admin:todo_todo_add' %}?date="+date.format();
        }
    },
    eventSources: [
        {
          url: '/api/event',
        }
    ],
    timeFormat: document.documentElement.clientWidth>414?'H':' ',
    windowResize: function(view) {
        $('#calendar').fullCalendar('option', 'timeFormat', document.documentElement.clientWidth>414?'H':' ');
        $('#calendar').fullCalendar('option', 'contentHeight', Math.max(480, document.documentElement.clientHeight - 160));
    }
});
</script>
{% endblock %}