{% extends 'base.html' %}
{% block title %}Todo{% endblock %}
{% block content %}
    <table class="table">
    <thead>
    <th></th>
    <th>Title</th>
    <th>Time Left</th>
    <th>User</th>
    </thead>
    <tbody>
    {% for todo in todos %}
        <tr>
        <td>
            <a href="{% url 'todo:alt' todo.pk %}">
                {% if todo.done %}
                <i class="fa fa-check-square-o"></i>
                {% else %}
                <i class="fa fa-square-o"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a href="{% url 'todo:todo-detail' todo.pk %}">{{ todo }}</a>
        </td>
        <td class="seconds_left">
            {{ todo.seconds_left }}
        </td>
        <td>
            {{ todo.user }}
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if todo %}
    <a href="{% url 'admin:todo_todo_add' %}" class="btn btn-outline-primary">
        <i class="fa fa-plus"></i> Add
    </a>
    {% endif %}
{% endblock %}
{% block script %}
<script>
var secondsLeft = $(".seconds_left");
for(var i=0; i<secondsLeft.length; i++){
    let seconds = secondsLeft[i].innerHTML * 1000;
    let passed = false;
    if(seconds < 0){
        passed = true;
        seconds = -seconds;
    }
    let time = new Date(seconds);
    secondsLeft[i].innerHTML = (passed?'- ':'') + Math.floor(seconds/(1000*3600*24)) + " days " + time.getUTCHours()+':'+time.getUTCMinutes()+':'+time.getUTCSeconds();
    if(passed){
        secondsLeft[i].classList.add('text-danger');
    }
    else if (seconds < 3600 * 1000){
        secondsLeft[i].classList.add('text-warning');
    }
}
</script>
{% endblock %}